@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var page = new AboutOverviewPage(Model.Content);
}
@section headerScripts{

}
@section mainContent{
    <div class="masthead__container masthead__subpage">
        @Html.Partial("_MastHead", page.HeroImage)
        @Html.Partial("_BreadCrumb")

    </div>

<div class="main container-fluid">
    <div class="">
        <div class="section">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    @Html.Partial("_SideBarNav", page.ParentPage)
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 about__overview--container">
                    <article>
                        <h1 class="article__title">@page.Heading</h1>
                       
                        @Html.Raw(page.Copy)
                        <br />
                        
                        <hr />

                        <h2>@page.PhilosophyHeading</h2>    
                        <div class="row small article-columns">                            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-center"><img src="@page.Philosophy1Icon" alt="" /></p>
                                <h4>@page.Philosophy1</h4>                                
                                @Html.Raw(page.Philosophy1Copy)
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-center"><img src="@page.Philosophy2Icon" alt="" /></p>
                                <h4>@page.Philosophy2</h4>                                
                                @Html.Raw(page.Philosophy2Copy)
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <p class="text-center"><img src="@page.Philosophy3Icon" alt="" /></p>
                                <h4>@page.Philosophy3</h4>                                
                                @Html.Raw(page.Philosophy3Copy)
                            </div>
                        </div>

                        <br /><hr />

                        <blockquote>@page.VisionStatement</blockquote>

                        @Html.Raw(page.VisionCopy)
                    </article>
                </div>
            </div>


        </div>
    </div>
</div>
}
@section footerScripts{

}