@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    int idx = 0;
    dynamic sliderMediaSelection = null;
    if (CurrentPage.HasProperty("sliderImage") && CurrentPage.HasValue("sliderImage"))
    {
        sliderMediaSelection = new umbraco.cms.businesslogic.media.Media(CurrentPage.GetPropertyValue("sliderImage"));
    }

    var project = new Project(Model.Content);
}
@* @section headerScripts{
        <link rel="stylesheet" type="text/css" href="/css/project.css" />
    } *@
@section mainContent{
    @if (sliderMediaSelection != null)
    {
        <div id="masthead" class="masthead">
            @if (sliderMediaSelection != null && sliderMediaSelection.ContentType.Alias == "Folder")
            {
                <div id="carousel-generic" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @foreach (dynamic child in sliderMediaSelection.Children)
                        {
                            string cls = string.Empty;
                            if (idx == 0)
                            {
                                cls = "class=\"active\"";
                            }
                            <li data-target="#carousel-generic" data-slide-to="@idx.ToString()" @Html.Raw(cls)></li>
                            idx++;
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @{
                        idx = 0;
                        foreach (dynamic child in sliderMediaSelection.Children)
                        {
                            string img = child.getProperty("umbracoFile").Value.ToString();
                            string cls = "item";
                            if (idx == 0)
                            {
                                cls += " active";
                            }
                            <div class="@cls" style="background-image:url(@Html.Raw(img));">
                                @* <div class="container carousel-caption">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 masthead__content">
                                        <span>@Html.Raw(child.GetPropertyValue("projectTYpe")):</span><h2 class="carousel-caption__title">@Html.Raw(child.GetPropertyValue("projectName"))</h2>
                                        </div><!-- //.masthead__content -->
                                    </div><!-- //.row -->
                                    </div> *@
                            </div>
                            idx++;
                        }
                        }
                    </div>

                    @if (idx > 1)
                    {
					<!-- Controls -->
                        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    }
                </div><!-- //.carousel -->
            }
            else
            {
                <div class="item active" style='background-image: url(@sliderMediaSelection.getProperty("umbracoFile").Value.ToString());'></div>
            }
        </div>
    }
    <div class="main container-fluid">

        @{Html.RenderPartial("Project_Description");}
        @{Html.RenderPartial("Project_Testimonial");}

        <div class="container">
            @* @{Html.RenderPartial("Project_Gallery");}	 *@
            @{Html.RenderPartial("Project_Stats");}


            <div class="row">
                <div class="project__related row no-gutters">
                    <h2 class="section__title text-center">@project.RelatedWorkHeading</h2>
                    @foreach (var market in project.RelatedMarkets)
                    {
                        var i = project.RelatedMarkets.IndexOf(market);
                        <div class="project__related--item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <a href="@market.PreviewUrl">
                                <img src="@Website.ImageUrl(market.PreviewImage, 380, 240)" alt="" class="img-responsive" style="bottom:auto;">
                                <div class="project__related--description img-caption caption">
                                    <h4 class="project__related--title">@market.PreviewTitle</h4>
                                </div>
                            </a>
                        </div>
                        if ((i + 1) % 2 == 0)
                        {
                            <div class="clearfix visble-xs hidden-sm hidden-md hidden-lg"></div>
                        }
                        if ((i + 1) % 3 == 0)
                        {
                            <div class="clearfix hidden-xs visible-sm visible-md visible-lg"></div>
                        }

                    }

                    <div class="clearfix hidden-xs-block visible-sm-block visible-md-block visible-lg-block">
                        <!--
                                    <h2 class="section__title text-center">Related Projects</h2>
                                    <div class="project__related--item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                      <a href="#">
                                        <img src="/dev/images/projects/090_10021_000_N32_medium.jpg" alt="" class="img-responsive" />
                                        <div class="project__related--description">
                                          <h4 class="project__related--title text-uppercase">Miami International Airport</h4>
                                          <p>Our design solutions stem from our collaborative research process allowing us to imagine new ways to solve the challanges of our built environment.</p>
                                        </div>
                                      </a>
                                    </div>
                                    <div class="project__related--item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                      <a href="#">
                                        <img src="/dev/images/projects/090_10021_000_N32_medium.jpg" alt="" class="img-responsive" />
                                        <div class="project__related--description">
                                          <h4 class="project__related--title text-uppercase">Doral Sapphire Multi-Use Building Complex</h4>
                                          <p>Our design solutions stem from our collaborative research process allowing us to imagine new ways to solve the challanges of our built environment.</p>
                                        </div>
                                      </a>
                                    </div>
                                    <div class="project__related--item col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                      <a href="#">
                                        <img src="/dev/images/projects/090_10021_000_N32_medium.jpg" alt="" class="img-responsive" />
                                        <div class="project__related--description">
                                          <h4 class="project__related--title text-uppercase">Warren Library</h4>
                                          <p>Our design solutions stem from our collaborative research process allowing us to imagine new ways to solve the challanges of our built environment.</p>
                                        </div>
                                      </a>
                                    </div>
                        -->
                    </div><!-- //.project__related -->
                </div><!-- //.row -->
            </div> <!-- //container -->
        </div>
    </div>
}
@section footerScripts{
}