@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var service = new Service(Model.Content);
}
}
@section headerScripts{

}
@section mainContent{
        @Html.Partial("_MastHeadSub", service)

    <div class="main container-fluid">

        <div class="section" style="">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="">
                        @Html.Partial("_SideBarNav", service.ParentPage.ParentPage)
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9" style="background:#ffffff;margin-top:-30px;">

                    <div class="" style="padding-top: 46px;padding-bottom:30px;">

                        <article>
                            <!-- <p class="text-center"><img src="images/about/people/people-2-fullsize.jpg" alt="Bill Baxley" class="img-responsive" /></p> -->
                            <div class="">                                
                                <h1 class="article__title" style="margin:0;padding:0;font-size:2.75em;padding-bottom:15px;">@service.Name</h1>
                                <h2 style="margin:0;padding:0;padding-bottom:10px;">@service.Heading</h2>
                                @Html.Raw(service.Copy)

                                <h5>Capabilities</h5>
                                <div class="row article-columns">
                                    @Capabilities(service.GetCapabilities(0, 2)) 
                                    @Capabilities(service.GetCapabilities(1, 2))
                                </div>
                            </div>
                        </article>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="main container-fluid">
        <div class="section">
            <div class="row">
                <div class="project__related row no-gutters">
                    <a id="marketProjects" name="marketProjects"></a>
                    <h2 class="section__title text-center">Related Work</h2>
                    @Html.Partial("_ProjectGrid", service.RelatedProjects)

                </div><!-- //.section -->
            </div><!-- //.row -->
        </div><!-- //.main -->


    </div>
}
@section footerScripts{
}

@helper Capabilities(IEnumerable<string> capabilites)
{
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul class="list-unstyled list-group list-columns">
        @foreach (var capability in capabilites)
        {
            <li class="list-group-item"><i class="icon fa fa-angle-right"></i> @capability</li>
        }
        </ul>
    </div>
}