@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var page = new ServicesPage(Model.Content);
}
@section headerScripts{

}
@section mainContent{
    <div class="masthead__container">
        @Html.Partial("_MastHeadLarge", page.HeroImage)


        <div class="vertical-center page__header text-center">
            <div class="">
                <h1 class="page__header__title">Services</h1>
                <div class="masthead__tagline hidden-xs hidden-sm">
                    <p>@Html.Raw(page.Intro)</p>
                </div>
                <!-- <nav class="page__header__nav">
                  <a href="#contact1" class="scrollTo">Contact</a>
                  <a href="#marketProjects" class="scrollTo">View Projects</a>
                </nav> -->
            </div>
        </div>

    </div>


    <div class="container-fluid pg-services">

        @foreach (var service in page.Services)
        {
            <div class="row page__section-img">
                <div class="">
                    <a href="@service.Url" class="text__overlay">
                        <img src="@service.CtaImage" alt="" class="img-responsive" />
                        <!-- <div style="background-image: url(/dev/images/services/services-image2.jpg);background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;width:100%;height:100%;"></div> -->

                        <div class="page__header vertical-center text-center">
                            <h2>@service.Name</h2>
                        </div>
                    </a>
                </div>    
            </div>
        }
      



    </div>

    <div class="main container-fluid bg-image">

    </div>

}
@section footerScripts{
}
