@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
	int idx = 0;
	dynamic sliderMediaSelection = null;
	if(CurrentPage.HasProperty("sliderImage") && CurrentPage.HasValue("sliderImage"))
	{
		sliderMediaSelection = new umbraco.cms.businesslogic.media.Media(CurrentPage.GetPropertyValue("sliderImage"));
	}
}
@section headerScripts{
	
	<style>
		.section__title {
			margin-top: 1.75em;
		}
		
		.level-2 {
			list-style-type: none;
			font-size: 25px;
		}
	
		
		li.level-2 ul { margin: 15px 0; }
	
		.level-3 {
			list-style-type: none;
			font-size: 16px;
			position: relative;
			margin-bottom: 10px;
		}
	
		li.level-3:before {
			content: "\f105";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
		/*--adjust as necessary--*/
			color: #00aeef;
			font-size: 20px;
			padding-right: 0;
			position: absolute;
			top: -4px;
			font-weight: 100;
			left: -18px;
		}
	
		.level-4 {
			list-style-type: none;
			position: relative;
			margin-bottom: 10px;
		}
	
		.level-4:before {	
	
			content: "\f0da";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
		/*--adjust as necessary--*/
			color: #00aeef;
			font-size: 16px;
			padding-right: 0;
			position: absolute;
			top: 0px;
			font-weight: 100;
			left: -13px;
		}
	</style>
}

@section mainContent{
	<!-- slider using background images -->
	@* <div class="masthead">

		<div class="item active" style="background-image: url(@img);"></div>

	</div> *@
	<!-- //.masthead -->

	@* <div class="row page__header">
		<div class="container" style="background: transparent; padding-left: 30px; padding-right: 30px; padding-bottom: 30px;">
			<h1 class="page__header__title">@CurrentPage.GetPropertyValue("pageTitle")</h1>
		</div>
	</div> *@

	<div class="main container-fluid">
		<div class="container">

			<div class="section row post">

				<header class="post-header">
					<h2 class="section__title post-title">Sitemap</h2>
				</header>

				<article class="post-content">
					<div class="sitemap">
						@Traverse(CurrentPage.AncestorOrSelf(1))
					</div>
				</article>

			</div>

		</div>
		<!-- //.container -->
	</div>
	<!-- //.main -->
}
@helper Traverse(dynamic node)
{
    var maxLevelForSitemap = 10;
    var items = node.Children.Where("TemplateId > 0 && DocumentTypeAlias != \"GoogleSitemap\" && TemplateId > 0").Where("Level <= " + maxLevelForSitemap);

    if (items.Any())
    {
        <ul>
            @foreach (var item in items)
            {
				if(! item.hideFromNavigation || item.showInSitemap)
				{
					<li class="level-@item.Level">
						<a href="@item.Url">@item.Name</a>
	
						@Traverse(item)
					</li>
				}
            }
        </ul>
    }
}